<% flash.each do |type, message|%>
<p><%= message %></p>
<%end%>
<%= form_with model: @new_user, data: {turbo: false} do |form|%>
<%= form.label :email, "email" %>
<%= form.email_field :email, placeholder: "email" %>
<%= form.label :password, "password" %>
<%= form.password_field :password, placeholder: "password" %>
<%= form.submit %>
<%end%>
